@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard Variable';
  src: url('../styles/fonts/PretendardVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  src: url('../styles/fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../styles/fonts/Pretendard-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../styles/fonts/Pretendard-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../styles/fonts/Pretendard-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Pretendard, 'Pretendard Variable', -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

body {
  width: 100%;
  min-width: 360px;
  max-width: 480px;
  height: 100dvh;
  margin: 0 auto;
  background-color: white;
  flex-direction: column;
  align-items: center;
  -ms-overflow-style: none;
  position: relative;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
  display: none;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(50%);
  transition: all 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(50%);
}

.Modal__Overlay {
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.Modal__Overlay--after-open {
  opacity: 1;
}

.Modal__Overlay--before-close {
  opacity: 0;
}

.headline1 {
  @apply text-[18px] font-bold leading-[1] tracking-[-0.02em];
}
.headline2 {
  @apply text-[16px] font-bold leading-[1] tracking-[-0.02em];
}
.title1 {
  @apply text-[20px] font-semibold leading-[1.2] tracking-[-0.02em];
}
.title2 {
  @apply text-[16px] font-semibold leading-[1] tracking-[-0.02em];
}
.title3 {
  @apply text-[14px] font-semibold leading-[1.2] tracking-[-0.02em];
}
.title4 {
  @apply text-[12px] font-semibold leading-[1.2] tracking-[-0.02em];
}
.body1 {
  @apply text-[16px] font-medium leading-[1] tracking-[-0.02em];
}
.body2 {
  @apply text-[14px] font-medium leading-[1.4] tracking-[-0.02em];
}
.body3 {
  @apply text-[14px] font-medium leading-[1] tracking-[-0.02em];
}
.body4 {
  @apply text-[12px] font-medium leading-[1.4] tracking-[-0.02em];
}
.body5 {
  @apply text-[12px] font-medium leading-[1.6] tracking-[-0.02em];
}
.caption1 {
  @apply text-[14px] font-normal leading-[1.4] tracking-[-0.02em];
}
.caption2 {
  @apply text-[12px] font-normal leading-[1.4] tracking-[-0.02em];
}
.caption3 {
  @apply text-[12px] font-normal leading-[1.6] tracking-[-0.02em];
}
.caption4 {
  @apply text-[10px] font-normal leading-[1.4] tracking-[-0.02em];
}

.writingReviewButton {
  @apply w-eightNineWidth !important;
}

@layer utilities {
  .reservation-stage-item::after {
    content: '';
    display: block;
    width: 40px;
    height: 1px; /* 실선의 두께 설정 */
    background-color: #ced3d6;
    position: absolute;
    left: 24px;
    transform: translateY(-50%);
  }

  .txt-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
